@model AppOrmEntity.Models.Book

<h2>Update Book</h2>

<form asp-area="" asp-controller="Book" asp-action="Update" method="post" class="p-4 border rounded shadow-sm bg-light" style="max-width: 600px;">
    <input type="hidden" asp-for="IdBook" />

    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label fw-bold">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter Book Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Description" class="form-label fw-bold">Description</label>
        <textarea asp-for="Description" class="form-control" rows="4" required placeholder="Enter Book Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Price" class="form-label fw-bold">Price</label>
        <input asp-for="Price" class="form-control" placeholder="Enter Book Price" required type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="text-end">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
